Azure__Pat=*****************************
Azure__Uri=https://dev.azure.com/****
Rules__0__Type=Task
Rules__0__Rules__0__IfChildState=To Do
Rules__0__Rules__0__NotParentStates__0=Done
Rules__0__Rules__0__NotParentStates__1=Removed
Rules__0__Rules__0__SetParentStateTo=New
Rules__0__Rules__0__AllChildren=true
Rules__0__Rules__1__IfChildState=In Progress
Rules__0__Rules__1__NotParentStates__0=Done
Rules__0__Rules__1__NotParentStates__1=Removed
Rules__0__Rules__1__SetParentStateTo=Committed
Rules__0__Rules__1__AllChildren=false
Rules__0__Rules__2__IfChildState=Done
Rules__0__Rules__2__NotParentStates__0=Removed
Rules__0__Rules__2__SetParentStateTo=Done
Rules__0__Rules__2__AllChildren=true