Azure__Pat=*****************************
Azure__Uri=https://dev.azure.com/****
StateRules__0__Type=Task
StateRules__0__Rules__0__IfState=To Do
StateRules__0__Rules__0__NotParentStates__0=Done
StateRules__0__Rules__0__NotParentStates__1=Removed
StateRules__0__Rules__0__SetParentStateTo=New
StateRules__0__Rules__0__All=true
StateRules__0__Rules__1__IfState=In Progress
StateRules__0__Rules__1__NotParentStates__0=Done
StateRules__0__Rules__1__NotParentStates__1=Removed
StateRules__0__Rules__1__SetParentStateTo=Committed
StateRules__0__Rules__1__All=false
StateRules__0__Rules__2__IfState=Done
StateRules__0__Rules__2__NotParentStates__0=Removed
StateRules__0__Rules__2__SetParentStateTo=Done
StateRules__0__Rules__2__All=true